body, html{
    background-image: url("../Picture/FortunateInexperiencedIbex-size_restricted.gif");
    height: 100%;
}
a{
    float: left;
    font-size: 20px;
    text-decoration: none;
}
#demo{
    width: 100%;
    overflow: hidden;
    padding: 20px -1px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.box{
    float: right;
    padding: 0px 0px;
    margin-top: -1px;
    margin-right: -27px;
}
#collapsibleNavbar:hover .navbar-brand{
    background-color: transparent;
}
.nav-item{
    padding:-1px 44px;
}
.nav-link{    
    text-align: center;
    padding: 0px 100px;
    text-decoration: none;
}
#navbardrop {
    position: relative;
}
.dropdown-menu{
    position: absolute;
}
#navbardrop:hover .dropdown-menu{
    display: block;
}
#collapsibleNavbar a:hover {
    background-color: grey;
    color: black;
}
.container-4{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 4px;
}
.container-4 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}

.container-4 input#search:-ms-input-placeholder {  
    color: #65737e;  
}
.container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover{
    background: white;
}
.sign-item{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 10px;
}
.navbar-ul .navbar-nav .nav-item{
    padding: 0px 20px;
}
.nabar{
padding: 0px;
}
#main{
color: white;
}
.dropdown-user:hover .dropdown-menu{
display: block;
}
.dropdown-user:focus .dropdown-menu{
display: block;
}
.dropdown-user:active .dropdown-menu{
display: block;
}