.row{
  padding-top: 20px;
}
.frontside .card {
		min-height: 212px;
		width: 212;
		background: transparent;
}
.frontside .card .card-title {
    color: #A0CFEB !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
}

#icon-top{
  font-size:36px; 
  color: white; 
  padding-left: 500px;
  padding-top: 100;
}

#icon{
  font-size:36px; 
  color: white; 
  padding-left: 20px;
  padding-top: 100;
}
.frontside:hover .card{
	border: 1px solid white;
}
.frontside .card .card-body button{
	background-color: transparent;
	color: white;
	border-radius: 1px solid;
	height: 33px;
  width: 78px;
  font-size: 12px;
}
.frontside .card .card-body button:hover{
	background-color: white;
	color: black;
	border: 1px solid;
}
#cart{
	background: transparent;
	color: gray;
	border: 1px solid transparent;
	float: right; 
	margin-left: 35px;
	border-radius: .25rem;
	font-weight: 400;
	line-height: 1.25;
	padding: .5rem 1rem;
  font-size: 1rem;
}
#cart:hover{
	background-color: white;
	color: black;
}
.footer{
  background-repeat: no-repeat;
  padding-top: 1000px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: transparent;
}
.modal-content {
  margin: 0 auto;
  width: 707px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}
.modal-body {
  padding: 1rem;
}
.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}
.modal-footer>:not(:first-child) {
  margin-left: .25rem;
}
.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
